fastapi
uvicorn
streamlit
requests
flask
python-multipart
whisper
pydub
numpy
pandas
tqdm
uuid
spacy
nltk
psycopg2
sqlalchemy
langchain
langchain-ollama
langchain-core
langchain-openai
sentence-transformers

